<div class="game">
  <div class="game-board">
    <div>
      <div class="board-row">
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
      </div>
      <div class="board-row">
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
      </div>
      <div class="board-row">
        <button class="square"></button>
        <button class="square"></button>
        <button class="square"></button>
      </div>
    </div>
  </div>
  <div class="game-info">
    <div>status</div>
  </div>
</div>